## @section Kubernetes settings
##
image:
  ## @param image.registry unifi-controller image registry
  ##
  registry: docker.io
  ## @param image.repository unifi-controller image repository
  ##
  repository: ndgconsulting/unifi-controller
  ##
  ## @param image.tag unifi-controller image tag
  ## Ref: https://hub.docker.com/r/digrouz/unifi-controller/tags
  ##
  tag: "latest"
  ## @param image.pullPolicy unifi-controller image pull policy
  ## ref: https://kubernetes.io/docs/user-guide/images/#pre-pulling-images
  ##
  pullPolicy: Always
## @param nameOverride String to override the release name.
##
nameOverride: ""
## @param fullnameOverride String to override the application name.
##
fullnameOverride: ""
## @section Service Configuration
##
service:
  ## @param service.uid user id running unifi-controller
  ##
  uid: 12345
  ## @param service.gid group id running unifi-controller
  ##
  gid: 12345
  ## @param service.autoupgrade apply OS updates inside container at startup
  ##
  autoupgrade: 0
  ## @param service.tz Time Zone
  ##
  tz: Europe/Brussels
ingress:
  ## @param ingress.enabled Enable ingress for the application.
  ##
  enabled: true
  ## @param ingress.ingressClassName Ingress class name for the application.
  ##
  ingressClassName: traefik
  ## @param ingress.annotations Annotations for the application ingress.
  ##
  annotations:
    traefik.ingress.kubernetes.io/router.middlewares: []
    cert-manager.io/cluster-issuer: letsencrypt-prod
  ## @param ingress.tls Enable TLS for the application ingress.
  ##
  tls: true
  webui:
    ## @param ingress.webui.host Host for unifi-controller webui ingress
    ##
    host: ""
  api:
    ## @param ingress.api.priotiry priority for unifi-controller api ingressRouteTCP
    ##
    priority: ""
    ## @param ingress.api.traefik.entrypoint Traefik entrypoint for unifi-controller api ingress
    ## Ref: https://doc.traefik.io/traefik/routing/entrypoints/ 
    traefik:
      entrypoint: "" 
  webredirect:
    ## @param ingress.webredirect.priority priority for unifi-controller webredirect ingressRouteTCP
    ##
    priority: ""
    ## @param ingress.webdirect.traefik.entrypoint Traefik entrypoint for unifi-controller webredirect ingress
    ## Ref: https://doc.traefik.io/traefik/routing/entrypoints/ 
    traefik:
      entrypoint: ""
  websecureredirect:
    ## @param ingress.websecureredirect.priority priority for unifi-controller websecureredirect ingressRouteTCP
    ##
    priority: ""
    ## @param ingress.websecureredirect.traefik.entrypoint Traefik entrypoint for unifi-controller websecureredirect ingress
    ## Ref: https://doc.traefik.io/traefik/routing/entrypoints/ 
    traefik:
      entrypoint: ""
  l2discovery:
    ## @param ingress.l2discovery.weight weight for unifi-controller l2discovery ingressRouteUDP
    ##
    weight: ""
    ## @param ingress.l2discovery.traefik.entrypoint Traefik entrypoint for unifi-controller l2discovery ingress
    ## Ref: https://doc.traefik.io/traefik/routing/entrypoints/ 
    traefik:
      entrypoint: ""
  stun:
    ## @param ingress.stun.weight weight for unifi-controller stun ingressRouteUDP
    ##
    weight: ""
    ## @param ingress.stun.traefik.entrypoint Traefik entrypoint for unifi-controller stun ingress
    ## Ref: https://doc.traefik.io/traefik/routing/entrypoints/ 
    traefik:
      entrypoint: ""
  apdiscovery:
    ## @param ingress.apdiscovery.weight weight for unifi-controller apdiscovery ingressRouteUDP
    ##
    weight: ""
    ## @param ingress.apdiscovery.traefik.entrypoint Traefik entrypoint for unifi-controller apdiscovery ingress
    ## Ref: https://doc.traefik.io/traefik/routing/entrypoints/ 
    traefik:
      entrypoint: ""
## @section Storage persistence Configuration
##
persistence:
  config:
    ## @param persistence.config.enabled Enable persistence for unifi-controller config
    ## If enabled, the config will be stored in a persistent volume
    ## If disabled, the config will be stored in a temporary volume
    enabled: true
    ## @param persistence.config.storageClass Storage class for unifi-controller config
    ## If not set, the default storage class will be used
    storageClass: default
    ## @param persistence.config.existingClaim Existing persistent volume claim for unifi-controller config
    ## If set, the config will be stored in the existing persistent volume claim
    existingClaim: ""
    ## @param persistence.config.accessMode Access mode for unifi-controller config
    ## If not set, the default access mode will be used
    accessMode: ReadWriteOnce
    ## @param persistence.config.size Size of the persistent volume for unifi-controller config
    ## If not set, the default size will be used
    size: 1024Mi
